<html>
    <%- include('../navbar') %>
    <h1>Delete a Pet</h1>
    <form action="/pet/admin/delete-pet" method="POST">
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Health</th>
            <th>Status</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Select</th>
        </tr>
        <% pets.forEach( pet => { %>
            <tr>
                <td><%= pet.name %></td>
                <td><%= pet.species %></td>
                <td><%= pet.age %> years old</td>
                <td><%= pet.weight %> kg</td>
                <td><%= pet.health %></td>
                <td><%= pet.status %></td>
                <td><%= pet.description %></td>
                <td><img width="300" height="250" src="<%= pet.imageURL %>"></td>
                <td><input type="radio" name="pid" value="<%= pet.pid %>"></td>
            </tr>
        <% }) %>
    </table>
    <br>
    <button type="submit">Delete Pet!</button>
    </form>
</html>