<html>
    <%- include('../../navbar') %>
    
    <h1>Adopt a Pet!</h1>
    <h3>Our furry little friends who are looking for a new home!</h3>
    <form action="/customer/adoption-application/create" method="get">
    <div style="margin-bottom:16px; display: flex; justify-content: flex-end;">
        <button type="submit">Adopt!</button>
    </div>
    <table border="1">
        <tr>
            <th style="width:30px; text-align:center; vertical-align:middle;"></th>
            <th>Name</th>
            <th>Species</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Weight</th>
            <th>Health</th>
            <th>Status</th>
            <th>Description</th>
            <th>Photo</th>
        </tr>

        <% if (pets && pets.length > 0) { %>
        <% pets.forEach( pet => { %>
        <tr>
            <td style="text-align:center; vertical-align:middle;"><input type="radio" name="pet" value="<%= pet._id.toString() %>"></td>
            <td><%= pet.name %></td>
            <td><%= pet.species %></td>
            <td><%= pet.age %> years old</td>
            <td><%= pet.gender %></td>
            <td><%= pet.weight %> kg</td>
            <td><%= pet.health %></td>
            <td><%= pet.status %></td>
            <td><%= pet.description %></td>
            <td><img width="300" height="250" src="<%= pet.imageURL %>"></td>
        </tr>
            <tr>
                <td style="text-align:center; vertical-align:middle;">
                    <input type="radio" name="pid" value="<%= pet._id.toString() %>" onchange="enablebutton()">
                </td>
                <td><%= pet.name %></td>
                <td><%= pet.species %></td>
                <td>
                    <%= pet.age %> <%= pet.ageUnit %>
                </td>
                <td><%= pet.gender %></td>
                <td><%= pet.weight %> kg</td>
                <td><%= pet.health %></td>
                <td><%= pet.status %></td>
                <td><%= pet.description %></td>
                <td><img width="300" height="250" src="<%= pet.imageURL %>"></td>
            </tr>
        <% }) %>
        <% } else { %>
            <tr>
                <td colspan="10" style="text-align: center">No pets match your search. Try different filters!</td>
            </tr>
        <% } %>
    </table>
    </form>
</html>