<html>
    <%- include('../../navbar') %>
    
    <h1>Adopt a Pet!</h1>
    <h3>Our furry little friends who are looking for a new home!</h3>
    <!-- Filter -->
    <form action="/customer/pet" method="GET" style="margin-bottom: 20px;">
        <input type="text" name="search" style="width: 200px" placeholder="Search by name or description" value="<%= filters && filters.search ? filters.search : '' %>"/>
        <label>Species:</label>
        <select name="species" style="margin-right: 10px;">
            <option value="">All Species</option>
            <option value="Dog" <%= filters.species === 'Dog' ? 'selected' : '' %>>Dog</option>
            <option value="Cat" <%= filters.species === 'Cat' ? 'selected' : '' %>>Cat</option>
            <option value="Rabbit" <%= filters.species === 'Rabbit' ? 'selected' : '' %>>Rabbit</option>
            <option value="Bird" <%= filters.species === 'Bird' ? 'selected' : '' %>>Bird</option>
            <option value="Hamster" <%= filters.species === 'Hamster' ? 'selected' : '' %>>Hamster</option>
            <option value="Other" <%= filters.species === 'Other' ? 'selected' : '' %>>Other</option>
        </select>
        <label>Age:</label>
        <select name="age" style="margin-right: 10px;">
            <option value="">All Ages</option>
            <option value="Juniors" <%= filters.age === 'Juniors' ? 'selected' : '' %>>Juniors (&lt;1)</option>
            <option value="Young" <%= filters.age === 'Young' ? 'selected' : '' %>>Young (1-3)</option>
            <option value="Adult" <%= filters.age === 'Adult' ? 'selected' : '' %>>Adult (4-7)</option>
            <option value="Senior" <%= filters.age === 'Senior' ? 'selected' : '' %>>Senior (8+)</option>
        </select>
        <label>Gender:</label>
        <select name="gender" style="margin-right: 10px;">
            <option value="">All Genders</option>
            <option value="Male" <%= filters.gender === 'Male' ? 'selected' : '' %>>Male</option>
            <option value="Female" <%= filters.gender === 'Female' ? 'selected' : '' %>>Female</option>
        </select>
        <button type="submit" style="margin-left: 10px;">Filter</button>
        <a href="/customer/pet" style="margin-left: 10px;">Clear All</a>
    </form>

    <form action="adoption-application" method="post">
    <div style="margin-bottom:16px; display: flex; justify-content: flex-end;">
        <button type="submit">Adopt!</button>
    </div>
    <table border="1">
        <tr>
            <th style="width:30px; text-align:center; vertical-align:middle;"></th>
            <th>Name</th>
            <th>Species</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Weight</th>
            <th>Health</th>
            <th>Status</th>
            <th>Description</th>
            <th>Photo</th>
        </tr>

        <% if (pets && pets.length > 0) { %>
        <% pets.forEach( pet => { %>
            <tr>
                <td style="text-align:center; vertical-align:middle;">
                    <input type="radio" name="pid" value="<%= pet._id.toString() %>" onchange="enablebutton()">
                </td>
                <td><%= pet.name %></td>
                <td><%= pet.species %></td>
                <td>
                    <%= pet.age %> <%= pet.ageUnit %>
                </td>
                <td><%= pet.gender %></td>
                <td><%= pet.weight %> kg</td>
                <td><%= pet.health %></td>
                <td><%= pet.status %></td>
                <td><%= pet.description %></td>
                <td><img width="300" height="250" src="<%= pet.imageURL %>"></td>
            </tr>
        <% }) %>
        <% } else { %>
            <tr>
                <td colspan="10" style="text-align: center">No pets match your search. Try different filters!</td>
            </tr>
        <% } %>
    </table>
    </form>
</html>