<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
</head>

<body>
  <!-- This view is protected by authenticated middleware, ensuring a user exists -->
  <%- include('../../navbar') %>
  <% if (alertMessage) { %>
  <script>
    alert("<%= alertMessage %>")
  </script>
  <% }; %>
  <table border="1">
    <tr>
      <th colspan="2">
        <h1>
          <%= name %>'s Watchlist
        </h1>
      </th>
    </tr>
    <% if (watchlist.length===0) { %>
    <tr>
      <td>Oops. It seems like you don't have any pets in your watchlist. Would you like to <a href="/customer/pet">add</a> some?</td>
    </tr>
    <% } else { %>
    <tr>
      <th colspan="2">Click here to edit: <form action="/customer/watchlist/update/" method="get"><button type="submit">Edit</button></form></td>
    </tr>
    <% watchlist.forEach(entry=> { %>
    <tr>
      <th colspan="2">
        <%= entry.ranking %>. <%= entry.petId.name %> (<%= entry.petId.species %>, <%= entry.petId.age %> years old)
      </th>
    </tr>
    <tr>
      <td>
        <img src="<%= entry.petId.imageURL %>" width="100">
      </td>
      <td>
        <strong>Weight:</strong>
        <%= entry.petId.weight %> kg<br> <strong>Description:</strong>
        <%= entry.petId.description %><br> <strong>Health Status:</strong>
        <%= entry.petId.health %><br> <strong>Your comments:</strong>
        <%= entry.comments || "-" %> <br><br><em>Last updated on <%= entry.lastUpdated %></em>
      </td>
    </tr>
    <% }); %>
    <% } %>
  </table>
</body>

</html>