<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
</head>

<body>
  <!-- This view is protected by authenticated middleware, ensuring a user exists -->
  <%- include('../../navbar') %>
  <form action="/customer/watchlist/update" method="post">
    <table border=1>
      <tr>
        <th colspan="6">
          <h4>
            <%= name %>'s Watchlist Editor
          </h4>
        </th>
      </tr>
      <tr>
        <th colspan="6">
          Press to return: <button type="submit" name="Submit">Return</button>
        </th>
      </tr>
      <tr>
        <th colspan="2">Pet</th>
        <th>Your Comments</th>
        <th colspan="2">Adjust Ranking</th>
        <th><button type="submit" name="DeleteSelected">DELETE</button></th>
      </tr>
      <% watchlist.forEach((entry, i) => { %>
      <tr>
        <th>
          <%= entry.petId.name %>
        </th>
        <th><img src="<%= entry.petId.imageURL%>" width="100"></th>
        <td><textarea name="<%= entry.petId._id %>" rows="4" cols="20"><%= entry.comments %></textarea></td>
        <% if (watchlist.length > 1) { %>
        <% if (i > 0) { %>
        <th><button type="submit" name="Up/<%=entry.petId._id%>">Up</button></th>
        <% } else { %>
        <th>N.A.</th>
        <% }; %>
        <% if (i < watchlist.length - 1) {%>
        <th><button type="submit" name="Down/<%=entry.petId._id%>">Down</button></th>
        <% } else { %>
        <th>N.A.</th>
        <% }; %>
        <% } else { %>
        <th>N.A.</th>
        <th>N.A.</th>
        <% } %>
        <th><input type="checkbox" name="Delete/<%=entry.petId._id%>"></input>
        </th>
      </tr>
      <% }) %>
      <% if (remainingPets.length > 0) { %>
      <tr>
        <th colspan="6">[Quick Add] You may also consider adding the following beauties!</th>
      </tr>
      <tr>
        <th colspan="3">Pet</th>
        <th colspan="2">Your Comments</th>
        <th><button type="submit" name="AddSelected">ADD</button></th>
      </tr>
      <% remainingPets.forEach(entry=> { %>
      <tr>
        <th>
          <%= entry.name%>
        </th>
        <th><img src="<%= entry.imageURL %>" width="100"></th>
        <td><strong>Species:</strong>
          <%= entry.species %>, <strong>Age:</strong>
          <%= entry.age %><br>
          <strong>Weight:</strong>
          <%= entry.weight %> kg<br> <strong>Description:</strong>
          <%= entry.description %><br> <strong>Health Status:</strong>
          <%= entry.health %>

        <td colspan="2"><textarea name="<%=entry._id%>" rows="4" cols="20"></textarea>
        </td>
        <th><input type="checkbox" name="Add/<%=entry._id%>"></input></th>
      </tr>
      <% }); %>
      <% }; %>
    </table>
    <br>
  </form>
</body>

</html>