<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Appointments</title>
</head>
<body>
    <%- include('../../navbar') %>

    <% if (user_appointments.length === 0)  { %>
        You have no appointments!
    <% } else { %>
        <h3>Booked Appointments: </h3>
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Pet Species / Category</th>
                <th>Status</th>
                <th>Edit / Remove<br>Appointment</th>
            <% for (let i=0;i<user_appointments.length;i++) {%>
            </tr>
                <td><%=(user_appointments[i].appointmentdate).toLocaleString('en-GB', {day: '2-digit',month: '2-digit',year: 'numeric'})%></td>
                <td><%=user_appointments[i].timeslot%></td>
                <td><%=user_appointments[i].location%></td>
                <td><%=user_appointments[i].petspecies%></td>
                <td><%=user_appointments[i].status%></td>
                <td>
                    <a href="/customer/appointment/update?appointmentId=<%=user_appointments[i]['_id']%>">Update</a> <br><br>
                    <a href="/customer/appointment/delete?appointmentId=<%=user_appointments[i]['_id']%>">Delete</a>
                </td>
            </tr>
            <% } %>
        </table>
        <% } %>
    <hr>
    <h3>Book an appointment!</h3>
    <a href="/customer/appointment/create">Click here to book</a>
</body>
</html>